<div class="w-full shadow-md rounded">
  <img
    src="assets/images/bandera-arg.webp"
    class="w-full h-[200px] rounded-t"
    alt="personal banner"
  />

  <div class="w-full relative top-[-6rem] left-6">
   
    <img
    src="https://picsum.photos/200"
    alt="profile picture"
    class="w-40 h-40 rounded-full ring-4 ring-white shadow-sm"
  />

    <h2 class="text-2xl font-bold text-malibu-900 mt-2 cursor-default">
        Gabriel Ricardo Agustin Ruiz
    </h2>

    <h3 class="text-lg font-medium text-gray-400 w-fit cursor-help" matTooltip="Current position" matTooltipPosition="right">
        Front-end Lead at Inter-neg
    </h3>

    <p> Rosario - Santa Fe, Argentina. </p>

  </div>
</div>
