<div class="w-full ring-1 ring-gray-200 shadow rounded pb-2">
  <img
    src="assets/images/bandera-arg.webp"
    class="w-full h-[200px] rounded-t"
    alt="personal banner"
  />

  <div class="w-full -mt-24 ml-6">
    <img
      src="https://picsum.photos/200"
      alt="profile picture"
      class="w-40 h-40 rounded-full ring-4 ring-white sticky"
    />
  </div>

  <div class="w-full px-4">
    <h2 class="text-xl font-bold text-malibu-900 mt-2 cursor-default">
      Gabriel Ricardo Agustin Ruiz
    </h2>

    <div class="grid grid-cols-2 justify-between w-full">
      <h3
        class="text-lg font-medium text-gray-400 w-fit cursor-help"
        matTooltip="Current position"
        matTooltipPosition="right"
      >
        Front-end Lead at Inter-neg
      </h3>

      <div class="flex justify-end items-center">
        <div matTooltip="Current company" matTooltipPosition="left" class="cursor-help flex justify-end items-center">
          <img src="assets/images/logo-interneg.webp" alt="Logo Interneg" height="30px" width="30px" />
          <h3 class="text-end font-medium text-malibu-900">
            Inter-neg
          </h3>
        </div>
      </div>
    </div>

    <small class="text-gray-600 text-sm cursor-help" matTooltip="Current address" matTooltipPosition="right">Rosario - Santa Fe, Argentine.</small>

    <p> I'm an engineer front-end developer with expertise in Angular with it's latest versions and ngrx/store. I enjoy what i do and sharing what i know others in same way. I also like to share my discoveries with my friends and on social media, have a lot of experience in develop applications from scratch and optimize applications that have already been developed, also have experience in back-end and mobile development with some technologies and deployment. </p>
  </div>
</div>
