<div class="w-full card-ring shadow rounded p-4">
  <h3 class="text-xl font-bold text-sky-500 mt-2 mb-6 cursor-default">
    {{ "section.experience.title" | translate }}
  </h3>

  <ng-container *ngFor="let experience of [1, 1]; let last = last">
    <div class="grid grid-cols-12 gap-y-4 my-3">
      <div class="flex justify-center">
        <img
          src="https://picsum.photos/200"
          alt="company picture"
          class="w-12 h-12 rounded"
        />
      </div>

      <div class="col-span-11">
        <h4 class="font-semibold text-sky-800 dark:text-slate-300">
          Full Stack Developer
        </h4>
        <h5 class="text-slate-800 dark:text-slate-400 text-xs font-medium">
          Inter-neg • Full-time
        </h5>
        <small class="text-slate-800 dark:text-slate-400 text-xs font-medium">
          Mar 2022 - Present • 10 months
        </small>
        <br />
        <small class="text-slate-800 dark:text-slate-400 text-xs font-medium">
          Rosario, Santa Fe - Argentina
        </small>

        <p class="text-sm mt-2 text-slate-700 dark:text-slate-300">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea nulla
          facilis dignissimos illum quasi eius ipsam sed! Deleniti unde, quo,
          aperiam repudiandae rem consequuntur quidem neque molestias similique
          iste dolor.
        </p>
      </div>
    </div>
    <hr class="w-full border-slate-900 dark:border-slate-800" *ngIf="!last" />
  </ng-container>
</div>
