<toolbar></toolbar>

<main class="grid grid-cols-12 grid-flow-col gap-10 px-8">
    
    <section class="col-span-8 my-6">
        <div class="grid grid-cols-1 gap-6">
            <about-me></about-me>
            <experience></experience>
            <education></education>
        </div>

    </section>
    
    <section class="col-span-4 my-6 ring-1 ring-gray-200 shadow rounded p-4">
        <h3 class="text-xl font-bold text-malibu-900 mb-6 cursor-default">Projects</h3>
        <projects></projects>
    </section>

</main>


