<toolbar></toolbar>

<div class="grid grid-cols-12 grid-flow-col gap-10 px-8">
    
    <section class="col-span-8 my-6">
        <div class="grid grid-cols-1 gap-6">
            <about-me></about-me>
            <experience></experience>
        </div>

    </section>
    
    <section class="col-span-4 my-6">
        <div class="grid grid-cols-1 gap-2">
            <experience></experience>
            <experience></experience>
            <experience></experience>
        </div>
    </section>



</div>


