<mat-toolbar class="bg-gradient-to-b from-malibu-400 to-malibu-600 text-white">
    <div class="w-[150px] h-[113px] object-contain relative">
        <img ngSrc="assets/images/logo-arg.webp" fill priority/>
    </div>    
  <span class="flex-auto"></span>
 <language-menu></language-menu>
  <button
    aria-label="Icon for Instagram"
    matTooltip="Ir a Instagram"
    class="transition ease-in-out hover:scale-110 hover:text-malibu-300 duration-200 hover:mix-blend-overlay"
  >
    <i class="lab la-instagram la-2x"></i>
  </button>
  <button
    aria-label="Icon for LinkedIn"
    matTooltip="Ir a LinkedIn"
    class="transition ease-in-out hover:scale-110 hover:text-malibu-300 duration-200 hover:mix-blend-overlay"
  >
    <i class="lab la-linkedin la-2x"></i>
  </button>
  <button
    aria-label="Icon for login"
    matTooltip="Ingresar"
    class="transition ease-in-out hover:scale-110 hover:text-malibu-300 duration-200 hover:mix-blend-overlay"
  >
  <i class="las la-user-circle la-2x"></i>
  </button>
</mat-toolbar>